*{

}

body {
background-color: #009ddb;
}

h1 {
border-bottom: 5px solid black;
text-align: center;
background-color: #0bffae;

}

img {
border: 5px solid #000000;
margin-right: 60px;
}

ul {
text-align: center;

}

li {

}

p {

}

#header {
 
}

#content{

}

#text {
width: 90%;
margin: 0 auto;

}

#text p {
background-color: #c2b500;
border: 5px dashed #000000;
box-shadow: 10px 5px 5px #000000;
text-indent: 40px;
padding: 10px;

}

#text p:first-child {
background-image: url(../images/fondoParrafo.png);
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

#text p:last-child {
background-color: #c2b500;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px; 
}

#menu {

}

#menu a{

}


#menu li{
display: inline;
border-left: 5px solid red;
padding-left: 5px;

}

#menu li a:hover{

}

#footer{
border-top: 5px solid #000000;
text-align: center;
background-color: #6856c9;

}

#footer a{

}

#footer a:hover{

}
#image {
text-align: right;

}

@media all and (max-width: 500px) {

}
