/* Fuente de Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    background-color: #8B4513;
    color: #FFFFFF;
    border-left: 15px solid #FFD700;
    padding: 10px;
    margin: 20px auto;
    width: 60%;
}

img {
    width: 300px;
    height: auto;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 15px rgba(0,0,0,0.5);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    border: 2px solid #8B4513;
    background-color: #FFD700;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
