body {
text-align: center;
background-image: url("fondo.jpg");
}

h1 {
background-color: powderblue;
border-left-style: solid; red;
color: #0073C5;
}

img {
border: 2px solid #222222;
border-radius: 5px;
width: 300px;
height: 300px;
}

ul {
list-style-type: none;
padding: 0;
margin: 20px 0;
}

li {
display: inline;
border: 2px solid #8B5A2B;
padding: 10px 20px;
margin: 5px;
border-radius: 5px;
}

