body {

}

h1 {
background-color: powderblue;
border-left-style: solid; red;
color: #0073C5;
}
img {
border: 2px solid black;
border-radius: 5px;
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimagenes.20minutos.es%2Fuploads%2Fimagenes%2F2024%2F05%2F15%2Funa-imagen-creada-por-la-herramienta-imagen-3-de-google.jpeg&f=1&nofb=1&ipt=647bdfbd7e1f2535332b86449b9508090997a4d5a1f5ba58b9b5faa62dab8397" width=300px border=300px
  
}

ul {

}

li {

}

