body {
text-align: center;
background-color: #19bd81;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
}

h1 {
background-color: powderblue;
border-left: 6px solid red;
color: #0073C5;
}

img {
border: 2px solid #222222;
border-radius: 5px;
width: 300px;
height: 300px;
}

ul {
list-style-type: none;
padding: 0;
margin: 20px 0;
}

li {
display: inline;
border: 2px solid #112130;
padding: 10px 20px;
margin: 5px;
border-radius: 5px;
}

